<section class="bg-light">
    <div class="container mx-auto pt-5">
        <h1 class="fw-bold mb-4">All orders</h1>
        <table>
            <thead class="table-light fw-bold">
                <tr>
                    <th class="px-4 py-2 text-left">Oredrs</th>
                    <th class="px-4 py-2 text-left">Customers</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>